@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: var(--main-font);
  min-width: 320px;

  // overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

body.buy-open {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

a,
button {
  cursor: pointer;
}
