<section class="section section__about">
  <div class="container">
    <p class="about__label">Tradition and love</p>
    <h2 class="about__title">How it's made?</h2>

    <div class="about__main">
      <picture class="about__image">
        <!-- Desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/about/about-lg.png    1x,
            ./images/about/about-lg@2x.png 2x
          "
          type="image/png"
        />

        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-md.png    1x,
            ./images/about/about-md@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767.98px)"
          srcset="
            ./images/about/about-sm.png    1x,
            ./images/about/about-sm@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/about/about-sm.png" alt="Cow and milk" />
      </picture>

      <div class="about__undertext">
        <ul class="overlay">
          <li class="about__text-first">
            <p>
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
          </li>
          <li class="about__text-second">
            <p>
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt. <br />
              <br />
              Aliquam erat volutpat. Aenean accumsan.
            </p>
          </li>
        </ul>
        <button class="button">
          Read more
          <svg class="header__button-icon" width="4.68" height="8">
            <use href="./images/sprite-modal.svg#icon-vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
