<section class="section__advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__list-item first">
        <h3 class="advantages__description">721</h3>
        <p class="description__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-item second">
        <h3 class="advantages__description">16kg</h3>
        <p class="description__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__list-item third">
        <h3 class="advantages__description">84</h3>
        <p class="description__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
