<section class="contacts" id="contacts">
  <div class="container">
    <h1 class="visually-hidden">Contacts</h1>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__div-category-cafe">
          <p class="contacts__category-cafe">CAFE</p>
        </div>
        <div class="contacts__adress-div">
          <p class="contacts__adress-div-title">Chicago</p>
          <p class="contacts__adress-div-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__worktime-div">
          <ul class="contacts__worktime-list">
            <li class="contacts__worktime-item">
              <p class="contacts__day-description">Monday - Friday</p>
              <p class="contacts__worktime-description">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__worktime-item">
              <p class="contacts__day-description">Saturday - Sunday</p>
              <p class="contacts__worktime-description">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__auth-nav-div">
          <ul class="contacts__auth-nav-list">
            <li class="contacts__auth-nav-item">
              <a class="contacts__auth-nav-link-tel" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__auth-nav-item">
              <a
                class="contacts__auth-nav-link-mail"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__div-category-truck">
          <p class="contacts__category-truck">FOOD TRUCK</p>
        </div>
        <div class="contacts__adress-div">
          <p class="contacts__adress-div-title">Los Angeles</p>
          <p class="contacts__adress-div-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__worktime-div">
          <ul class="contacts__worktime-list">
            <li class="contacts__worktime-item">
              <p class="contacts__day-description">Monday - Friday</p>
              <p class="contacts__worktime-description">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__worktime-item">
              <p class="contacts__day-description">Saturday - Sunday</p>
              <p class="contacts__worktime-description">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__auth-nav-div">
          <ul class="contacts__auth-nav-list">
            <li class="contacts__auth-nav-item">
              <a class="contacts__auth-nav-link-tel" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__auth-nav-item">
              <a
                class="contacts__auth-nav-link-mail"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__div-category-cafe">
          <p class="contacts__category-cafe">CAFE</p>
        </div>
        <div class="contacts__adress-div">
          <p class="contacts__adress-div-title">New York</p>
          <p class="contacts__adress-div-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__worktime-div">
          <ul class="contacts__worktime-list">
            <li class="contacts__worktime-item">
              <p class="contacts__day-description">Monday - Friday</p>
              <p class="contacts__worktime-description">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__worktime-item">
              <p class="contacts__day-description">Saturday - Sunday</p>
              <p class="contacts__worktime-description">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts__auth-nav-div">
          <ul class="contacts__auth-nav-list">
            <li class="contacts__auth-nav-item">
              <a class="contacts__auth-nav-link-tel" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__auth-nav-item">
              <a
                class="contacts__auth-nav-link-mail"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn-item">
        <button class="contacts__btn-acent" type="button" data-location-open>
          Our Locations
          <svg class="contacts__btn-icon" width="4" height="8">
            <use href="./images/sprite.svg#contacts-icon"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button class="contacts__btn" data-franchise-open type="button">
          Franchise
          <svg class="contacts__btn-icon" width="4" height="8">
            <use href="./images/sprite.svg#contacts-icon-acent"></use>
          </svg>
        </button>
      </li>
    </ul>
</div>
</section>
