<section>
  <h2 class="visually-hidden">Customer Reviews</h2>
  <div class="container" id="costumer">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="container swiper-slide">
          <picture>
            <!-- Набір зображень для десктопу -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/costomer/testimonials2-lg.png    1x,
                ./images/costomer/testimonials2-lg@2x.png 2x 2x
              "
              type="image/png"
            />
            <!-- Набір зображень для планшетів -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/costomer/testimonials2-md.png    1x,
                ./images/costomer/testimonials2-md@2x.png 2x
              "
              type="image/png"
            />
            <!--Набір зображень для моб. екранів-->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/costomer/testimonials2-sm.png    1x,
                ./images/costomer/testimonials2-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="costumer__img"
              src="./images/costomer/testimonials2-sm.png"
              alt="costomer"
              width="85"
              height="85"
            />
          </picture>

          <div class="costumer__text-group">
            <p class="costumer__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="costumer__text-decoration"></div>
          </div>

          <ul class="costumer__slider-pagination">
            <li class="costumer__slider-item"></li>
            <li class="costumer__slider-item"></li>
            <li class="costumer__slider-item"></li>
          </ul>
          <p class="costumer__info">Emily, Los Angeles</p>
        </div>
        <div class="container swiper-slide">
          <picture>
            <!-- Набір зображень для десктопу -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/costomer/testimonials1-lg.png    1x,
                ./images/costomer/testimonials1-lg@2x.png 2x 2x
              "
              type="image/png"
            />
            <!-- Набір зображень для планшетів -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/costomer/testimonials1-lg.png    1x,
                ./images/costomer/testimonials1-lg@2x.png 2x
              "
              type="image/png"
            />
            <!--Набір зображень для моб. екранів-->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/costomer/testimonials1-lg.png    1x,
                ./images/costomer/testimonials1-lg@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="costumer__img"
              src="./images/costomer/testimonials1-lg.png"
              alt="costomer"
              width="85"
              height="85"
            />
          </picture>
          <div class="costumer__text-group">
            <p class="costumer__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="costumer__text-decoration"></div>
          </div>

          <ul class="costumer__slider-pagination">
            <li class="costumer__slider-item"></li>
            <li class="costumer__slider-item"></li>
            <li class="costumer__slider-item"></li>
          </ul>
          <p class="costumer__info">Emily, Los Angeles</p>
        </div>
        <div class="container swiper-slide">
          <picture>
            <!-- Набір зображень для десктопу -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/costomer/testimonials3-lg.png    1x,
                ./images/costomer/testimonials3-lg@2x.png 2x 2x
              "
              type="image/png"
            />
            <!-- Набір зображень для планшетів -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/costomer/testimonials3-lg.png    1x,
                ./images/costomer/testimonials3-lg@2x.png 2x
              "
              type="image/png"
            />
            <!--Набір зображень для моб. екранів-->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/costomer/testimonials3-lg.png    1x,
                ./images/costomer/testimonials3-lg@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="costumer__img"
              src="./images/costomer/testimonials3-lg.png"
              alt="costomer"
              width="85"
              height="85"
            />
          </picture>

          <div class="costumer__text-group">
            <p class="costumer__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="costumer__text-decoration"></div>
          </div>

          <ul class="costumer__slider-pagination">
            <li class="costumer__slider-item"></li>
            <li class="costumer__slider-item"></li>
            <li class="costumer__slider-item"></li>
          </ul>
          <p class="costumer__info">Emily, Los Angeles</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <ul class="costumer__infoslider-pagination">
  <li class="costumer__infoslider-item current">
    <svg
      class="costumer__infoslider-icon"
      width="12.4"
      height="11.84"
    >
      <use
        href="./images/review/symbol-defs.svg#icon-reviev-slider"
      ></use>
    </svg>
  </li>
  <li class="costumer__infoslider-item"></li>
  <li class="costumer__infoslider-item"></li>
</ul> -->
