<h2 class="visually-hidden">Customer Reviews</h2>
<div class="container">
    <img class="costumer__img" srcset="./images/review/review-sm.png 1x, ./images/review/review-sm@2x.png 2x"
        src="./images/review/review-sm.png" alt="costumer" width="85" height="85">

    <p class="costumer-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
        nunc,
        accumsan
        congue. Lorem ipsum primis in nibh vel risus.
        <svg class="costumer__text-icon" width="54" height="40">
            <use href="./images/review/symbol-defs.svg#icon-rewiev-text"></use>
        </svg>

    </p>

    <ul class="costumer__slider-pagination">
        <li class="costumer__slider-item"></li>
        <li class="costumer__slider-item"></li>
        <li class="costumer__slider-item"></li>
    </ul>
    <p class="costumer__info">
        Emily, Los Angeles
    </p>
    <ul class="costumer__infoslider-pagination">
        <li class="costumer__infoslider-item current">
            <svg class="costumer__infoslider-icon" width="12.4" height="11.84">
                <use href="./images/review/symbol-defs.svg#icon-reviev-slider"></use>
            </svg>
        </li>
        <li class="costumer__infoslider-item"></li>
        <li class="costumer__infoslider-item"></li>
    </ul>
</div>