<footer class="footer">
  <div class="container footer-container">
    <!-- логотип -->

    <p class="footer__logo">with passion</p>

    <!-- соц. иконки -->

    <ul class="footer__list">
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://github.com/"
          target="_blank"
          aria-label="иконка github"
        >
          <svg class="footer__iconc" width="18.82px" height="18.82px">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </li>

      <li class="footer__item">
        <a
          class="footer__link"
          href="https://telegram.org/"
          target="_blank"
          aria-label="иконка telegram"
        >
          <svg class="footer__iconc" width="19.2px" height="14.93px">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://uk-ua.facebook.com/"
          target="_blank"
          aria-label="иконка facebook"
        >
          <svg class="footer__iconc" width="8.8px" height="19.2px">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- контакт телефон -->

    <p class="contact">
      Feel free to contact
      <a class="tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
    </p>
  </div>

  <div class="container">
    <p class="footer__text">
      © 2022 - IceCream. <span class="all">All Rights Reserved.</span>
    </p>
  </div>
</footer>
