<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="grid">
      <li class="grid__item grid__item--1">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery1-lg.png    1x,
                /src/images/gallery/galery1-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery1-md.png    1x,
                /src/images/gallery/galery1-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery1-sm.png    1x,
                /src/images/gallery/galery1-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery1-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--2">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery2-lg.png    1x,
                /src/images/gallery/galery2-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery2-md.png    1x,
                /src/images/gallery/galery2-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery2-sm.png    1x,
                /src/images/gallery/galery2-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery2-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--3">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery3-lg.png    1x,
                /src/images/gallery/galery3-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery3-md.png    1x,
                /src/images/gallery/galery3-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery3-sm.png    1x,
                /src/images/gallery/galery3-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery3-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--4">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery4-lg.png    1x,
                /src/images/gallery/galery4-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery4-md.png    1x,
                /src/images/gallery/galery4-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery4-sm.png    1x,
                /src/images/gallery/galery4-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery4-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--5">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery5-lg.png    1x,
                /src/images/gallery/galery5-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery5-md.png    1x,
                /src/images/gallery/galery5-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery5-sm.png    1x,
                /src/images/gallery/galery5-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery5-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--6">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery6-lg.png    1x,
                /src/images/gallery/galery6-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery6-md.png    1x,
                /src/images/gallery/galery6-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery6-sm.png    1x,
                /src/images/gallery/galery6-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery6-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--7">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery7-lg.png    1x,
                /src/images/gallery/galery7-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery7-md.png    1x,
                /src/images/gallery/galery7-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery7-sm.png    1x,
                /src/images/gallery/galery7-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery7-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--8">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery8-lg.png    1x,
                /src/images/gallery/galery8-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery8-md.png    1x,
                /src/images/gallery/galery8-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery8-sm.png    1x,
                /src/images/gallery/galery8-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery8-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--9">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery9-lg.png    1x,
                /src/images/gallery/galery9-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery9-md.png    1x,
                /src/images/gallery/galery9-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery9-sm.png    1x,
                /src/images/gallery/galery9-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery9-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="grid__item grid__item--10">
        <div class="masonry__thumb card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/gallery/galery10-lg.png    1x,
                /src/images/gallery/galery10-lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/gallery/galery10-md.png    1x,
                /src/images/gallery/galery10-md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /src/images/gallery/galery10-sm.png    1x,
                /src/images/gallery/galery10-sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="masonry__img card__inner"
              src="/src/images/gallery/galery10-sm.png"
              alt=""
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
