<section class="gallery">
  <div class="container">
    <ul>
      <li class="list-svg">
        <a class="link-svg" href="">
          <svg class="test" width="18" height="18">
            <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="list-svg">
        <a class="link-svg" href="">
          <svg class="test" width="18px" height="18px">
            <use href="/src/images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="list-svg">
        <svg class="test" width="18px" height="18px">
          <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
