  <!-- HEADER -->
  <header class="header section">
    <div class="container hero-container">
      <a href="./index.html" class="logo-link">
        <img src="./images/logo.svg" alt="Логотип" />
      </a>
      <!-- DSEKTOP-NAVIGATION -->
      <ul class="nav-desktop-list">
        <li class="nav-desktop-list__item">
          <a href="" class="nav-desktop-list__link">Home</a>
        </li>
        <li class="nav-desktop-list__item">
          <a href="" class="nav-desktop-list__link">About us</a>
        </li>
        <li class="nav-desktop-list__item">
          <a href="" class="nav-desktop-list__link">How it’s made?</a>
        </li>
        <li class="nav-desktop-list__item">
          <a href="" class="nav-desktop-list__link">Our products</a>
        </li>
        <li class="nav-desktop-list__item">
          <a href="" class="nav-desktop-list__link">Contact</a>
        </li>
      </ul>
      <!-- BURGER -->
      <button class="burger-buton" type="button">
        <span class="burger-buton-container" >
          <span class="burger-button-container__line-top"></span>
          <span class="burger-button-container__line-midle"></span>
          <span class="burger-button-container__line-bottom"></span>
        </span>
      </button>
      <!-- BUY-NOW -->
      <button class="header__buttom" type="button">
        Buy now
        <svg class="header__button-icon" width="8" height="10">
          <use href="./images/sprite-modal.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </header>
  
  <!-- HERO -->
  <main>
    <section class="hero container">
      <div class="decor-group">
        <h1 class="hero__head">
          ice cream made with <span class="hero__head-span">passion</span>
        </h1>
        <ul class="amount-list">
          <li class="amount-list__item">
            <span class="amount-list__text">16</span>
          </li>
          <li class="amount-list__item">
            <span class="amount-list__text">23</span>
          </li>
        </ul>
      </div>
        <ul class="hero__head-list list">
          <li class="hero__head-item pink">
            <a class="hero__head-link left" href="#">Products</a>
          </li>
          <li class="hero__head-item white">
            <a class="hero__head-link right" href="#">How it’s made?</a>
          </li>
        </ul>
      <p class="hero__item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </section>
  </main>
