<div class="mobyle__menu data-menu" data-menu>
  <button class="form__button-close" data-modal-close>
    <svg class="form__close-icon" width="18" height="18">
      <use href="./images/sprite-modal.svg#icon-close_mob"></use>
    </svg>
  </button>

  <button class="mobyle__buy-now">
    Buy now
    <svg class="mobyla__buy-icon" width="10" height="15">
      <use
        class="mobyla__more-icon"
        href="./images/sprite-modal.svg#icon-more"
      ></use>
    </svg>
  </button>
  <ul class="mobyle__nav">
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link mobyle__link--home link">Home</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">About us</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">How it’s made?</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">Our products</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">Contact</a>
    </li>
  </ul>
</div>
