<div class="mobyle__menu" data-menu>
  <button type="button" class="form__button-close" data-menu-close>
    <svg class="form__close-icon" width="14" height="14">
      <use href="./images/sprite-modal.svg#icon-close"></use>
    </svg>
  </button>

  <button class="mobyle__buy-now" type="button">
    Buy now
    <svg class="mobyla__buy-icon" width="10" height="15">
      <use
        class="mobyla__more-icon"
        href="./images/sprite-modal.svg#icon-more"
      ></use>
    </svg>
  </button>
  <ul class="mobyle__nav">
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link mobyle__link--home link">Home</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">About us</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">How it’s made?</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="#products" class="mobyle__link link">Our products</a>
    </li>
    <li class="mobyle__nav-item">
      <a href="" class="mobyle__link link">Contact</a>
    </li>
  </ul>
  <script src="/src/js/menu.js"></script>
</div>
