<section class="section products">
    <div class="container products__container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__general">products</h2>
        <ul class="products__list list">
            <li class="products__list-item">
                <div class="products__info">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__about" lang="en">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        <span class="prod__hidden"> .dolore magna aliqua facilisis.</span></p>
                <button class="button" type="button"><svg class="icon-arrow" width="10" height="10">
                        <use href="/src/images/sprite.svg#icon-arrow"></use>
                    </svg></button>
                </div>

            </li>
            <li class="products__list-item">
                <div class="products__info">
                    <h3 class="products__name">ice coffee</h3>
                <p class="products__about" lang="en">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    <span class="prod__hidden"> .dolore magna aliqua facilisis.</span></p>
                <button class="button" type="button"><svg class="icon-arrow" width="10" height="10">
                        <use href="/src/images/sprite.svg#icon-arrow"></use>
                    </svg></button>
                </div>
            </li>
            <li class="products__list-item">
                <div class="products__info">
                    <h3 class="products__name">milkshakes</h3>
                    <p class="products__about" lang="en">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                       <span class="prod__hidden"> .dolore magna aliqua facilisis.</span> </p>
                    <button class="button" type="button"><svg class="icon-arrow" width="10" height="10"><use href="/src/images/sprite.svg#icon-arrow"></use></svg></button>
                </div>
            </li>
        </ul>
    </div>
</section>