<section class="section products">
    <div class="container products__container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__general">products</h2>
        <ul class="products__list list">
            <li class="products__list-item">
                <div class="products__info">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__about" lang="en">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                </div>

            </li>
            <li class="products__list-item">
                <div class="products__info">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__about" lang="en">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                </div>
            </li>
            <li class="products__list-item">
                <div class="products__info">
                    <h3 class="products__name">milkshakes</h3>
                    <p class="products__about" lang="en">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                </div>
            </li>
        </ul>
    </div>
</section>