<section class="section products" id="products">
  <div class="container products__container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__general">products</h2>
    <ul class="products__list list">
      <li class="products__list-item">
        <div class="products__info">
          <h3 class="products__name">ice cream</h3>
          <p class="products__about" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            <span class="products__hidden">
              .dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__button" type="button" data-iceCream-open>
            <svg class="icon-arrow" width="10" height="10">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item">
        <div class="products__info">
          <h3 class="products__name">ice coffee</h3>
          <p class="products__about" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            <span class="products__hidden">
              .dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__button" type="button" data-iceCoffee-open>
            <svg class="icon-arrow" width="10" height="10">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item">
        <div class="products__info">
          <h3 class="products__name">milkshakes</h3>
          <p class="products__about" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            <span class="products__hidden">
              .dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__button" type="button" data-milkshakes-open>
            <svg class="icon-arrow" width="10" height="10">
              <use href="/src/images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <!-- modal -->
  <div class="backdrop__prod is-hidden" data-iceCream>
    <div class="products__modal">
      <p class="products__about--modal try">Try this delicious!</p>
      <picture>
        <source
          srcset="
            /src/images/products/iceCream_d.jpg    1x,
            /src/images/products/iceCream_d@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/products/iceCream_t.jpg    1x,
            /src/images/products/iceCream_t@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/products/iceCream_m.jpg    1x,
            /src/images/products/iceCream_m@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="iceCream"
          src="/src/images/products/iceCream_m.jpg"
          alt="iceCreem"
          width="150"
          height="150"
          loading="lazy"
        />
      </picture>
      <p class="products__about products__about--modal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        class="products__modal-button"
        type="button"
        data-iceCream-close
        aria-label="Закрыть окно"
      >
        <svg class="products__modal-icon" width="11" height="11">
          <use href="/src/images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="backdrop__prod is-hidden backdrop--iceCoffee" data-iceCoffee>
    <div class="products__modal">
      <p class="products__about--modal try">Try this delicious!</p>
      <picture>
        <source
          srcset="
            /src/images/products/iceCoffee_d.jpg    1x,
            /src/images/products/iceCoffee_d@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/products/iceCoffee_t.jpg    1x,
            /src/images/products/iceCoffee_t@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/products/iceCoffee_m.jpg    1x,
            /src/images/products/iceCoffee_m@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="iceCream"
          src="/src/images/products/iceCoffee_m.jpg"
          alt="iceCoffee"
          width="150"
          height="150"
          loading="lazy"
        />
      </picture>

      <p class="products__about products__about--modal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        class="products__modal-button"
        type="button"
        data-iceCoffee-close
        aria-label="Закрыть окно"
      >
        <svg class="products__modal-icon" width="11" height="11">
          <use href="/src/images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="backdrop__prod is-hidden backdrop--milkshakes" data-milkshakes>
    <div class="products__modal">
      <p class="products__about--modal try">Try this delicious!</p>
      <picture>
        <source
          srcset="
            /src/images/products/milk_d.jpg    1x,
            /src/images/products/milk_d@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/products/milk_t.jpg    1x,
            /src/images/products/milk_t@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/products/milk_m.jpg    1x,
            /src/images/products/milk_m@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="iceCream"
          src="/src/images/products/milk_m.jpg"
          alt="milkshakes"
          width="150"
          height="150"
          loading="lazy"
        />
      </picture>
      <p class="products__about products__about--modal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        class="products__modal-button"
        type="button"
        data-milkshakes-close
        aria-label="Закрыть окно"
      >
        <svg class="products__modal-icon" width="11" height="11">
          <use href="/src/images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
