@media screen and(max-width:767.98px) {
  .mobyle__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #e17992;
    z-index: 10;
    transform: translateX(100%);
    padding: 60 20 171;
  }
}
.mobyle__menu.is-open {
  transform: translateX(0);
}
.form__button-close {
  position: absolute;
  top: 22px;
  right: 17px;
  background: transparent;
  border: 0;
}

.mobyle__buy-now {
  width: 209px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border: 0;
}
.mobyla__buy-icon {
  margin-left: 19px;
}

.buy-now {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  align-items: center;
  text-align: center;

  color: #d41443;
}
// .form__close-icon {
//   fill: #ffffff;
//   width: 100%;
//   height: 100%;
// }

// .form__button-close {
//   top: 20px;
//   right: 20px;
//   //   z-index: 100;

//   display: flex;

//   padding: 0;
//   width: 30px;
//   height: 30px;

//   border: none;

//   align-items: center;
//   justify-content: center;

//   background-color: var(--background-color);

//   cursor: pointer;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .form__button-close:hover .form__close-icon,
// .form__button-close:focus .form__close-icon {
//   fill: var(--accent-color);
// }

//   width: 209px;

//   @media screen and (min-width: 768px) {
//     width: 186px;
//   }
//   height: 44px;

//   background-color: #ffffff;
//   border-radius: 22px;
//   border-color: #ffffff;

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.31;
//   display: flex;
//   align-items: center;
//   text-align: center;

//   justify-content: center;

//   color: var(--accent-color);
//   cursor: pointer;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .mobyle__buy-now:hover,
// .mobyle__buy-now:focus {
//   background-color: #ecebeb;
// }

// .mobyla__buy-icon {
//   fill: var(--accent-color);
//   margin-left: 30px;
// }

// .mobyle__menu {
//   position: absolute;
//   position: fixed;
//   top: 0;
//   right: 0;

//   z-index: 100;

//   padding-top: 60px;

//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.29;

//   color: #d41443;

//   max-width: 480px;

//   @media screen and (min-width: 768px) {
//     max-width: 300px;
//   }

//   width: 100%;
//   height: 100vh;

//   background-color: var(--background-color);

//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;

//   transform: translateY(-100%);

//   flex-direction: column;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.is-open {
//     opacity: 1;
//     transform: translateY(0);
//     visibility: visible;
//     pointer-events: auto;
//   }

//   @media screen and (min-width: 1200px) {
//     display: none;
//   }
// }

// .mobyle__link {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.29;

//   color: var(--first-color-text);
// }

// .mobyle__link:hover,
// .mobyle__link:focus {
//   color: var(--accent-color);
// }

// .mobyle__nav-item {
//   padding: 12px 0;
//   padding-left: 20px;
//   width: 100%;

//   &:nth-child(2n + 1) {
//     border-top: 1px solid #e18298;
//     border-bottom: 1px solid #e18298;
//   }
// }
