.form__close-icon {
  fill: #ffffff;
  width: 100%;
  height: 100%;
}

.form__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;

  display: flex;

  padding: 0;
  width: 14px;
  height: 14px;

  border: none;

  align-items: center;
  justify-content: center;

  background-color: var(--background-color);

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button-close:hover .form__close-icon,
.form__button-close:focus .form__close-icon {
  fill: var(--accent-color);
}

.mobyle__buy-now {
  margin-bottom: 19px;
  margin-right: auto;
  margin-left: auto;
  border: none;

  width: 209px;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
  height: 44px;

  background-color: #ffffff;
  border-radius: 22px;
  border-color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;

  color: var(--accent-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobyle__buy-now:hover,
.mobyle__buy-now:focus {
  background-color: #ecebeb;
}

.mobyla__buy-icon {
  fill: var(--accent-color);
  margin-left: 30px;
}

.mobyle__menu {
  // position: absolute;
  position: fixed;
  top: 0;
  right: 0;

  z-index: 10;

  padding-top: 60px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: #d41443;

  max-width: 250px;

  @media screen and (min-width: 768px) {
    max-width: 300px;
  }

  width: 100%;
  height: 100vh;

  background-color: var(--background-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateY(-100%);

  flex-direction: column;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobyle__link {
  padding: 12px 0;
  padding-left: 20px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: var(--first-color-text);
}

.mobyle__link:hover,
.mobyle__link:focus {
  color: var(--accent-color);
}

.mobyle__nav-item {
  // padding: 12px 0;
  // padding-left: 20px;
  width: 100%;

  &:nth-child(2n + 1) {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}

//  модальне вікно Купити зараз
/**
  |============================
  | modal form
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
  overflow-y: scroll;

  transition: opacity var(--fast-anim), visibility var(--fast-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 380px;
  max-height: 620px;
  width: 100%;

  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  overflow: auto;

  padding: 25px;
  z-index: 2000;

  background-color: var(--secondary-bg-color);
  border-radius: 10px;

  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms;
}
.modal-wrapper__choose-ice {
  margin-bottom: 15px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.29;

  color: #303030;
}



/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-wrapper__btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid var(--accent-color);
  border-radius: 50%;
  // background-color: transparent;
  background-color: var(--secondary-bg-color);

  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--forth-bg-color);
  }
}

.modal__close-icon--buy {
  fill: #df1313;
}

.modal-wrapper__choos {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  cursor: pointer;

  color: #303030;
}

.modal-wrapper__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-wrapper__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 10px;
}

.modal-wrapper__input {
  width: 40px;
  padding: 2px 6px;
  margin-left: 5px;

  border-radius: 5px;
  border: 1px solid #191c26;
  outline: transparent;
}

.modal-wrapper__icecream--img {
  display: block;
  width: 30px;
  border-radius: 10px;
  box-shadow: 2px 1px 2px 2px #908d8d;
}

/* modal form */
.modal-title {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;

  color: var(--accent-color);
}
.modal-wrapper__price {
  margin-bottom: 10px;
}

.modal-form__group {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.modal-form__label {
  position: relative;
  display: inline-block;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: #303030;
}

.modal-form__label:before {
  content: '\002A';
  position: absolute;
  top: 0;
  right: -12px;
  color: #e22f37;
}

/* Стилізація інпута */
.modal-form__input {
  width: 100%;
  padding: 6px 40px;

  border-radius: 5px;
  border: 1px solid #191c26;
  outline: transparent;
}

.modal-form__input:invalid:not(:placeholder-shown) {
  border-color: #e22f37;
}

.modal-form__input:valid:not(:placeholder-shown) {
  border-color: #69e883;
}

/* Стилізація іконок на інпуті */
.modal-form__icon {
  position: absolute;
  bottom: 7px;
  left: 10px;

  fill: #303030;
  transition: fill 400ms ease-in-out;

  .modal-form__input:focus ~ & {
    fill: #fc0909;
  }

  .modal-form__input:valid:not(:placeholder-shown) ~ & {
    fill: #69e883;
  }

  .modal-form__input:invalid:not(:placeholder-shown) ~ & {
    fill: #e22f37;
  }
}

/* Стилізація попереджень для інпутів */
.alert {
  position: absolute;
  bottom: -15px;
  left: 10px;

  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  letter-spacing: -0.6em;
  opacity: 0;
  transition: 400ms ease-out 100ms;
}

.alert--error {
  color: #e22f37;
}

.alert--warning {
  color: #fc0909;
}

.alert-icon {
  position: absolute;
  right: 10px;
  bottom: 7px;
  display: inline-flex;
  fill: currentColor;
  opacity: 0;
  transform: scale(0.3);

  transition: opacity 300ms ease-in-out 100ms, transform 300ms ease-in-out 100ms;
}

.alert-icon--warning {
  fill: #fc0909;
}

.alert-icon--error {
  fill: #e22f37;
}

.modal-form__input:focus ~ .alert--warning,
.modal-form__input:focus ~ .alert-icon--warning {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.modal-form__input:not(:placeholder-shown) ~ .alert--warning,
.modal-form__input:not(:placeholder-shown) ~ .alert-icon--warning {
  opacity: 0;
}

.modal-form__input:invalid:not(:placeholder-shown) ~ .alert--error,
.modal-form__input:invalid:not(:placeholder-shown) ~ .alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}

.modal-wrapper__btn-submit {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  display: block;
  margin: 14px auto 0;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--forth-bg-color);
  }
}

//  Addres
.form__text {
  display: block;
  margin-bottom: 4px;
}
.form__textarea {
  height: 120px;
  padding-left: 16px;
  resize: none;
}
