.section__about {
  background-color: #fff5f6;
  // padding-top: 60px;
  // padding-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 768px) {
    // padding-top: 60px;
    // padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    // padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    //   justify-content: start;
    //   background-position-y: 216px;
    //   background-size: contain;
    //   background-repeat: no-repeat;

    //   background-image: url(../images/about/about-bg-lg.png);

    //   @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background-image: url(../images/about/about-bg-lg@2x.png);
    //   }
    // }
  }

  .container__about {
    padding-top: 60px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
      padding-left: 0;
      padding-right: 0;

      justify-content: start;
      background-position-y: 216px;
      background-size: contain;
      background-repeat: no-repeat;

      background-image: url(../images/about/about-bg-lg.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about/about-bg-lg@2x.png);
      }
    }
  }
}

.about__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #d41443;

  margin-top: 15px;

  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}

.about__image {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 32px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: auto;
    margin-top: 0;
    margin-right: 32px;
    margin-left: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 99px;
    width: 501px;
    margin-left: 16px;
  }
}

.about__undertext {
  margin-top: 40px;

  @media screen and (min-width: 1200px) {
    margin-top: 90px;
  }
}

.about__text-first {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: black;
  width: 220px;

  @media screen and (min-width: 768px) {
    width: 334px;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
  }

  @media screen and (min-width: 1200px) {
    width: 463px;
    font-size: 16px;

    letter-spacing: 0.04em;
  }
}

.about__text-second {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907e82;
  width: 220px;

  margin-top: 25px;

  @media screen and (min-width: 768px) {
    width: 334px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
  }

  @media screen and (min-width: 1200px) {
    width: 463px;
    font-size: 14px;
    margin-top: 32px;
    letter-spacing: 0.04em;
  }
}

.button {
  width: 176px;
  height: 44px;
  color: #d41443;
  background-color: #fff;
  border-radius: 22px;
  border: 0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;

  margin-top: 20px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: #d41443;
  }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.about__main {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767.98px) {
    background-position-y: 395px;
    background-image: url(../images/about/about-bg-sm.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bg-sm@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 40px;
    // justify-content: center;
    background-image: none;
  }
}

// Модальне вікно

.modal {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 95%;
  padding: 40px;

  // padding-top: 40px;

  background-color: var(--first-color-text);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);
  border-radius: 24px;

  @media screen and (min-width: 480px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1200px) {
    width: 40%;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  // width: calc(100% - 30px);
  width: 100%;
  height: 100%;

  z-index: 12;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 93px 15px;

  @media screen and (min-width: 480px) {
    overflow-y: scroll;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    & .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

.button-modal {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8;
  right: 10;
  width: 30px;
  height: 30px;
  color: #d41443;
  background-color: #ffa5ba;
  border: 0;
  border-radius: 50%;
}
