.contacts__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts__category,
.contacts__adress-div-title,
.contacts__adress-div-description,
.contacts__worktime-description,
.contacts__auth-nav-link-tel,
.contacts__auth-nav-link-mail {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
}

.contacts__worktime-div {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
.contacts__div-category-cafe {
  background-color: #f0d1a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__div-category-truck {
  background-color: #c2e297;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__category-cafe,
.contacts__category-truck {
  color: #ffffff;
}

.contacts__adress-div-title,
.contacts__day-description {
  color: #000000;
}
.contacts__adress-div-description {
  color: #907e82;
}
.contacts__worktime-description {
  color: #ffa5ba;
}
.contacts__auth-nav-link-tel,
.contacts__auth-nav-link-mail {
  color: #907e82;
  text-decoration: none;
}
.contacts__btn {
  background: #ffffff;
  border-radius: 22px;
  color: #d41443;
  border-color: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__btn-acent {
  background: #d41443;
  border-radius: 22px;
  color: #ffffff;
  border-color: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__btn-icon {
  margin-left: 8px;
}

@media screen and (max-width: 1199px) {
  .contacts {
    padding-top: 80px;

    background-image: linear-gradient(to bottom, #ffffff 50%, #fff5f6 50%);
  }
  .contacts__list {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__item {
    width: 100%;
    padding: 40px 32px;
    margin: 0px;
  }
  .contacts__div-category-cafe {
    border-radius: 6px;
    height: 28px;
    width: 73px;
  }
  .contacts__div-category-truck {
    border-radius: 6px;
    height: 28px;
    width: 138px;
  }
  .contacts__adress-div {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__worktime-div {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .contacts__auth-nav-div {
    padding-top: 32px;
  }

  .contacts__adress-div-description {
    margin-top: 8px;
  }
  .contacts__btn-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .contacts__btn,
  .contacts__btn-acent {
    width: 161px;
    height: 44px;
    font-family: 'DM Sans';
    font-weight: 700;
    size: 16px;
    line-height: 1.25;
    text-align: center;
    padding: 10px 17px;
  }
  .contacts__category-cafe,
  .contacts__category-truck {
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }

  .contacts__adress-div-title,
  .contacts__day-description {
    color: #000000;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }
  .contacts__adress-div-description {
    font-size: 14px;
    line-height: 166%;
  }
  .contacts__worktime-description {
    font-size: 14px;
    line-height: 186%;
  }
  .contacts__auth-nav-link-tel,
  .contacts__auth-nav-link-mail {
    font-size: 14px;
    line-height: 183%;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-top: 60px;

    background-image: linear-gradient(
      to bottom,
      #ffffff 23%,
      #fff5f6 23%,
      #fff5f6 54%
    );
  }
  .contacts__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts__item {
    width: 100%;
    padding: 40px 32px;
    margin: 0px;
  }
  .contacts__div-category-cafe {
    border-radius: 4px;
    height: 16px;
    width: 80px;
  }
  .contacts__div-category-truck {
    border-radius: 4px;
    height: 16px;
    width: 130px;
  }
  .contacts__adress-div {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts__worktime-div {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .contacts__auth-nav-div {
    padding-top: 24px;
  }
  .contacts__adress-div-description {
    margin-top: 8px;
  }
  .contacts__btn-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .contacts__btn,
  .contacts__btn-acent {
    width: 161px;
    height: 44px;
    font-family: 'DM Sans';
    font-weight: 700;
    size: 16px;
    line-height: 1.25;
    text-align: center;
    padding: 10px 17px;
  }

  .contacts__category-cafe,
  .contacts__category-truck {
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }

  .contacts__adress-div-title,
  .contacts__day-description {
    color: #000000;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }
  .contacts__adress-div-description {
    font-size: 12px;
    line-height: 1.5;
  }
  .contacts__worktime-description {
    font-size: 12px;
    line-height: 186%;
  }
  .contacts__auth-nav-link-tel,
  .contacts__auth-nav-link-mail {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 120px;

    background-image: linear-gradient(
      to bottom,
      #ffffff 25%,
      #fff5f6 25%,
      #fff5f6 50%
    );
  }
  .contacts__list {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__item {
    width: 368px;
    padding: 40px;
    margin: 0px;
  }
  .contacts__div-category-cafe {
    border-radius: 6px;
    height: 28px;
    width: 75px;
  }
  .contacts__div-category-truck {
    border-radius: 6px;
    height: 28px;
    width: 138px;
  }
  .contacts__adress-div {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__worktime-div {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .contacts__auth-nav-div {
    padding-top: 32px;
  }

  .contacts__adress-div-description {
    margin-top: 8px;
  }
  .contacts__btn-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .contacts__btn,
  .contacts__btn-acent {
    width: 161px;
    height: 44px;
    font-family: 'DM Sans';
    font-weight: 700;
    size: 16px;
    line-height: 1.25;
    text-align: center;
    padding: 10px 17px;
  }
  .contacts__category-cafe,
  .contacts__category-truck {
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }

  .contacts__adress-div-title,
  .contacts__day-description {
    color: #000000;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }
  .contacts__adress-div-description {
    font-size: 16px;
    line-height: 183%;
  }
  .contacts__worktime-description {
    font-size: 16px;
    line-height: 186%;
  }
  .contacts__auth-nav-link-tel,
  .contacts__auth-nav-link-mail {
    font-size: 16px;
    line-height: 183%;
  }
}
