.costumer__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }

}

.costumer__text-group {
    margin: 0 auto;
    position: relative;
    margin-bottom: 16px;
    min-width: 280px;

    @media screen and (min-width: 768px) {
        margin-bottom: 4px;
        width: 620px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
        width: 968px;
    }

}

.costumer__text {
    margin: 0 auto;
    padding: 43px 58px 26px 65px;

    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: var(--third-color-text);
    background-color: #FAFAFA;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 186%;
    }

    &:before {
        content: " ";
        width: 54px;
        height: 40px;

        background-image: url('../images/review/text-reweiv-decoration.png');
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        top: 30px;
        left: 54px;
        opacity: 0.4;

        @media screen and (min-width: 768px) {
            top: 20px;
            width: 60.35px;
        }

        @media screen and (min-width: 1200px) {
            width: 54px;
        }
    }
}

.costumer__text-decoration {
    position: absolute;
    top: 74px;
    left: 50px;
    right: 50px;
    bottom: 0;
    margin: 0 auto;
    width: calc(100% - 100px);
    background: repeating-linear-gradient(#E1E1E1 1px,
            transparent 3px,
            transparent 31px);

    @media screen and (min-width: 768px) {
        left: 6px;
        width: calc(100% - 12px);

    }

    @media screen and (min-width: 1200px) {
        left: 72px;
        width: calc(100% - 144px);

    }
}

.costumer__slider-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.costumer__slider-item {
    margin-right: 10px;
    width: 4px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.costumer__slider-item:last-child {
    margin-left: 0;
}

.costumer__info {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 172px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    color: var(--third-color-text);

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;

    }
}

.costumer__infoslider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-bottom: 80px;

    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 120px;

    }

}

.costumer__infoslider-item {
    margin-right: 18px;
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.costumer__infoslider-item:last-child {
    margin-right: 0;
}

.costumer__infoslider-item.current {
    background-color: inherit;
    display: flex;
    align-items: center;
}

.costumer__infoslider-icon {
    fill: var(--accent-color);
}

.swiper-wrapper {
padding-right: 0;
padding-left: 0;
}

.swiper-slide-active {
padding-right: 0;
padding-left: 0;
}