.footer {
  background: var(--footer-bg-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

// логотип

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo__logo {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footer-logo__title {
  margin-bottom: 12px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.footer-logo__made {
  display: block;

  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

.footer-logo__logo {
  width: 200px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    width: 340px;

    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    width: 474px;
  }
}

// соц. иконки

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.footer__item {
  position: relative;
}

.footer__link:hover:before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50px;
  animation: footer__item 1.8s linear infinite;
}

@keyframes footer__item {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
}

.footer__link:hover,
.footer__link:focus {
  background-color: var(--accent-color);
}

.footer__item:not(:last-child) {
  margin-right: 28.24px;
}

.footer__iconc {
  fill: #ffffff;
}

// контакт

.contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;

  text-align: right;

  color: var(--third-color-text);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.tel {
  display: inline;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;

  text-align: right;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

// текст iceCream

.footer__text {
  font-size: 14px;
  line-height: 152%;

  text-align: center;

  color: #907e82;

  @media screen and (min-width: 768px) {
    line-height: 186%;
  }
}

.all {
  display: block;

  @media screen and (min-width: 768px) {
    display: inline;
  }
}
