.gallery {
    color: blue;
}

.test {
    
    background-color: var(--secondary-color-text);
    fill: white;
    border-radius: 50%;
}

// .test1 {
//     display: flex;
//         justify-content: center;
//         align-items: center;
//        // border-radius: 10%;
// }

.list-svg {
    width: 100px;
    height: 100px;
}

.link-svg {
    display: block;
    //background-color: brown;
}