// header
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-hero-section {
  background-color: var(--secondary-bg-color);
}

.logo-link {
  @media screen and (max-width: 767.98px) {
    padding-top: 8px;
  }

  @media screen and (min-width: 767.98px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 128px;
    margin-top: 0;
  }
}

.burger-button {
  width: 20px;
  height: 12px;

  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
  display: block;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &-container {
    width: 20px;
    height: 12px;
  }
}

.burger-button-container__line-top {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  margin-bottom: 6px;
}

.burger-button-container__line-midle {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  margin-bottom: 6px;
}

.burger-button-container__line-bottom {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.header__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  padding-left: 43px;
  min-height: 44px;
  max-width: 180px;
  min-width: 160px;

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: #ff3165;
  }

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-left: 32px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 0px;
  }
}

.header__button-icon {
  fill: #d41443;
  /* right: 18px; */
  margin-left: 24px;
}

.header__button:hover .header__button-icon,
.header__button:focus .header__button-icon {
  fill: #ff3165;
}

.nav-desktop-list {
  display: flex;

  @media screen and (max-width: 1199.98px) {
    display: none;
  }
}

.nav-desktop-list__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-desktop-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: #ffffff;
  padding-top: 55px;
  padding-bottom: 55px;

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// HERO
// hero-images
/*#region Hero*/
.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  height: 502px;
  width: 100%;

  background-image: url('../images/header-hero/header-pic1-sm.png'),
    url('../images/header-hero/Ellipse-sm.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/header-hero/header-pic1-sm@2x.png'),
      url('../images/header-hero/Ellipse-sm@2x.png');
  }

  background-size: 171px, 344px, cover;
  background-repeat: no-repeat;
  background-position: left 117px top 92px, left 36px top 79px;
}

.hero__head {
  margin-top: 194px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  width: 218px;
  margin-bottom: 20px;
}

.hero__head-span {
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;

  color: #d41443;
}

.hero__head-list {
  display: flex;
  align-items: center;
  text-align: center;
}

.hero__head-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border: none;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}

.white {
  background-color: #ffffff;
  width: 82.8px;
  height: 24px;
  transition: background-color var(--duration) var(--timing-function);
}

.pink {
  background-color: #d41443;
  width: 62.4px;
  height: 24px;
  margin-right: 8px;
  transition: background-color var(--duration) var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .white {
    background-color: #ffffff;
    width: 138px;
    height: 40px;
    font-size: 14px;
  }

  .pink {
    background-color: #d41443;
    width: 107px;
    height: 40px;
    margin-right: 8px;
    font-size: 14px;
  }
}

.white:hover,
.white:focus {
  background-color: #ecebeb;
}

.pink:hover,
.pink:focus {
  background-color: #f0708e;
}

.hero__head-link {
  text-decoration: none;
}

.right {
  color: #d41443;
}

.left {
  color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .hero__item {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    height: 416px;
    background-image: url('../images/header-hero/header-pic1-md.png'),
      url('../images/header-hero/header-pic2-md.png'),
      url('../images/hero-header/Ellipse3.png'),
      url('../images/header-hero/header-pic3-md.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header-hero/header-pic1-md@2x.png'),
        url('../images/header-hero/header-pic2-md@2x.png'),
        url('../images/hero-header/Ellipse-md@2x.png'),
        url('../images/header-hero/header-pic3-md@2x.png');
    }

    background-size: 143px, 209px, 335px, 154px, cover;
    background-repeat: no-repeat;
    background-position: left 322px top 80px, left 546px top 256px,
      left 248px top 43px, left 32px top 246px;
  }

  .hero__head {
    margin-top: 102px;
    font-size: 22px;
    line-height: 1.14;
    width: 168px;
  }

  .hero__head-span {
    font-weight: 400;
    font-size: 34px;
    line-height: 90.5%;
  }

  .hero__item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;

    width: 114px;
    height: 48px;

    position: absolute;
    left: 184px;
    top: 287px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 664px;
    background-image: url('../images/header-hero/header-pic1-lg.png'),
      url('../images/header-hero/header-pic2-lg.png'),
      url('../images/hero-header/Ellipse3.png'),
      url('../images/header-hero/header-pic3-lg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header-hero/header-pic1-lg@2x.png'),
        url('../images/header-hero/header-pic2-lg@2x.png'),
        url('../images/hero-header/Ellipse-lg@2x.png'),
        url('../images/header-hero/header-pic3-lg@2x.png');
    }

    background-size: 236px, 304px, 543px, 213px, cover;
    background-repeat: no-repeat;
    background-position: left 636px top 108px, left 880px top 423px,
      left 517px top 54px, left 16px top 388px;
  }

  .hero__head {
    margin-top: 147px;
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 1.16;
    width: 277px;
  }

  .hero__head-span {
    font-weight: 400;
    font-size: 58px;
  }

  .hero__item {
    font-size: 14px;
    line-height: 140%;
    position: absolute;
    left: 229px;
    top: 456px;

    width: 200px;
    height: 78px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: var(--first-color-text);
  }
}

// hero-amount
.decor-group {
  display: flex;
}
.amount-list {
  margin-left: auto;
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-top: 92px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 152px;
  }
}

.amount-list__item {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
    width: 16px;
    height: 16px;
    background-color: var(--first-color-text);
    border-radius: 50%;
  }

  &:last-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 62px;
    width: 30px;
    height: 30px;
    background-color: var(--first-color-text);
    border-radius: 50%;
  }

  &:last-child {
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

.amount-list__group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 3px;
    right: 45%;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 5px;
    right: 50%;
  }
}

.amount-list__number {
  font-family: 'Titan One';
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 28px;
    line-height: 1, 4;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 46px;
    line-height: 1, 4;
    letter-spacing: 0.04em;
  }
}

.amount-list__text {
  @media screen and (max-width: 1199.98px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25px;
    text-transform: lowercase;

    color: #ffffff;
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28px;
    text-transform: lowercase;

    color: #ffffff;
    margin-top: 10px;
  }
}

.amount-list__text--cafes {
  @media screen and (max-width: 1199.98px) {
    width: 23px;
  }

  @media screen and (min-width: 1200px) {
    width: 40px;
  }
}

.amount-list__text--foodtrucks {
  @media screen and (max-width: 1199.98px) {
    width: 45px;
  }

  @media screen and (min-width: 1200px) {
    width: 78px;
  }
}

.header__button {
  animation: swing 6s ease-in-out infinite forwards;
}

@keyframes swing {
  0% {
    transform: rotate(6deg);
  }

  4% {
    transform: rotate(-6deg);
  }

  8% {
    transform: rotate(3deg);
  }

  12% {
    transform: rotate(-3deg);
  }

  16% {
    transform: rotate(0);
  }
}

@keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-left-to-right {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom-to-top {
  from {
    transform: translatey(150px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

.button-circle {
  margin-top: 20px;
  display: block;
  width: 26px;
  height: 26px;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--first-color-text);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    .icon-arrow {
      fill: var(--first-color-text);
    }
  }
}

.hero__item:hover .icon-man-cart {
  animation: run 3s ease-in-out forwards;
}

.icon-man-cart {
  position: absolute;
  opacity: 0;
  fill: var(--accent-color);

  transform: translateX(-500px);
  transition: transform 3000ms;

  @media screen and (max-width: 1199.98px) {
    bottom: -85px;
    left: -9px;
    width: 43px;
    height: 43px;

    @keyframes run {
      0% {
        transform: translateX(-150px);
      }

      10% {
        transform: translateX(-300x);
        opacity: 1;
      }

      30% {
        transform: translateX(0px);
      }

      60% {
        opacity: 1;
      }

      100% {
        transform: translateX(500px);
        opacity: 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    bottom: -140px;
    left: -9px;

    @keyframes run {
      0% {
        transform: translateX(-150px);
      }

      10% {
        transform: translateX(-300x);
        opacity: 1;
      }

      30% {
        transform: translateX(0px);
      }

      60% {
        opacity: 1;
      }

      100% {
        transform: translateX(800px);
        opacity: 0;
      }
    }
  }
}
