// header
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hero-container {
  display: flex;
  align-items: center;
}

.logo-link {
  @media screen and (max-width: 767.98px) {
    padding-top: 8px;
  }

  @media screen and (min-width: 767.98px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 128px;
    margin-top: 0;
  }
}

.burger-buton {
  width: 20px;
  height: 12px;

  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
  display: block;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &-container {
    width: 20px;
    height: 12px;
  }
}

.burger-button-container__line-top {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  margin-bottom: 6px;
}

.burger-button-container__line-midle {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  margin-bottom: 6px;
}

.burger-button-container__line-bottom {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

// .buy-now {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: 32px;

//   width: 160px;
//   height: 45px;
//   background-color: var(--first-color-text);
//   border-radius: 22px;

//   &:hover,
//   &:focus {
//     background-color: #ecebeb;
//     color: #ff3165;
//   }
//   @media screen and (max-width: 768px) {
//     display: none;
//   }

//   @media screen and (min-width: 768px) {
//     margin-top: 32px;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-top: 40px;
//     margin-left: auto;
//   }
// }

// .buy-now__text {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 21px;

//   color: var(--accent-color);
// }

.header__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  padding-left: 43px;
  min-height: 44px;
  max-width: 180px;
  min-width: 160px;
  // margin-bottom: 22px;
  // margin-top: 56px;
  // margin-left: auto;
  // margin-right: auto;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: #ff3165;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-left: 32px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 0px;
  }
}

.header__button-icon {
  fill: #d41443;
  /* right: 18px; */
  margin-left: 24px;
}

.header__button:hover .header__button-icon,
.header__button:focus .header__button-icon {
  fill: #ff3165;
}

.nav-desktop-list {
  display: flex;

  @media screen and (max-width: 1199.98px) {
    display: none;
  }
}

.nav-desktop-list__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-desktop-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: #ffffff;
  padding-top: 55px;
  padding-bottom: 55px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// HERO
// hero-images
/*#region Hero*/
.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffb8ca;
  height: 502px;
  width: 100%;

  background-image: url('../images/header-hero/header-pic1-sm.png'),
    url('../images/header-hero/Ellipse-sm.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/header-hero/header-pic1-sm@2x.png'),
      url('../images/header-hero/Ellipse-sm@2x.png');
  }

  background-size: 171px, 344px, cover;
  background-repeat: no-repeat;
  background-position: left 117px top 92px, left 36px top 79px;
}

.hero__head {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  width: 218px;
  padding-top: 194px;
  margin-bottom: 20px;
}

.hero__head-span {
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;

  color: #d41443;
}

.hero__head-list {
  display: flex;
  align-items: center;
  text-align: center;
}

.hero__head-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border: none;
  text-decoration: none;
  border-radius: 20px;
}

.white {
  background-color: #ffffff;
  width: 82.8px;
  height: 24px;
}

.pink {
  background-color: #d41443;
  width: 62.4px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .white {
    background-color: #ffffff;
    width: 138px;
    height: 40px;
    font-size: 14px;
  }

  .pink {
    background-color: #d41443;
    width: 107px;
    height: 40px;
    margin-right: 8px;
    font-size: 14px;
  }
}

.white:hover {
  background-color: #ecebeb;
}

.pink:hover {
  background-color: #f0708e;
}

.hero__head-link {
  text-decoration: none;
}

.right {
  color: #d41443;
}

.left {
  color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .hero__item {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    height: 416px;
    background-image: url('../images/header-hero/header-pic1-md.png'),
      url('../images/header-hero/header-pic2-md.png'),
      url('../images/hero-header/Ellipse3.png'),
      url('../images/header-hero/header-pic3-md.png'),
      url('../images/hero-header/arrow-right3.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header-hero/header-pic1-md@2x.png'),
        url('../images/header-hero/header-pic2-md@2x.png'),
        url('../images/hero-header/Ellipse-md@2x.png'),
        url('../images/header-hero/header-pic3-md@2x.png'),
        url('../images/hero-header/arrow-right-md@2x.png');
    }

    background-size: 143px, 209px, 335px, 154px, 18px, cover;
    background-repeat: no-repeat;
    background-position: left 322px top 80px, left 546px top 256px,
      left 248px top 43px, left 32px top 246px, top 342px left 184px;
  }

  .hero__head {
    padding-top: 102px;
    font-size: 22px;
    line-height: 1.14;
    width: 168px;
  }

  .hero__head-span {
    font-weight: 400;
    font-size: 34px;
    line-height: 90.5%;
  }

  .hero__item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;

    width: 114px;
    height: 48px;

    position: absolute;
    left: 184px;
    top: 287px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 664px;
    background-image: url('../images/header-hero/header-pic1-lg.png'),
      url('../images/header-hero/header-pic2-lg.png'),
      url('../images/hero-header/Ellipse3.png'),
      url('../images/header-hero/header-pic3-lg.png'),
      url('../images/hero-header/arrow-right3.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/header-hero/header-pic1-lg@2x.png'),
        url('../images/header-hero/header-pic2-lg@2x.png'),
        url('../images/hero-header/Ellipse-lg@2x.png'),
        url('../images/header-hero/header-pic3-lg@2x.png'),
        url('../images/hero-header/arrow-right-lg@2x.png');
    }

    background-size: 236px, 304px, 543px, 213px, 26px, cover;
    background-repeat: no-repeat;
    background-position: left 636px top 108px, left 880px top 423px,
      left 517px top 54px, left 16px top 388px, top 554px left 229px;
  }

  .hero__head {
    padding-top: 147px;
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 1.16;
    width: 277px;
  }

  .hero__head-span {
    font-weight: 400;
    font-size: 58px;
  }

  .hero__item {
    font-size: 14px;
    line-height: 140%;
    position: absolute;
    left: 229px;
    top: 456px;

    width: 200px;
    height: 78px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: var(--first-color-text);
  }
}

// hero-amount
.decor-group {
  display: flex;
}
.amount-list {
  margin-left: auto;
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-top: 92px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 152px;
  }
}

.amount-list__item {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
    width: 16px;
    height: 16px;
    background-color: var(--first-color-text);
    border-radius: 50%;
  }

  &:last-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 62px;
    width: 30px;
    height: 30px;
    background-color: var(--first-color-text);
    border-radius: 50%;
  }

  &:last-child {
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

.amount-list__text {
  position: absolute;
  top: 0;
  right: 50%;
  font-family: 'Titan One';
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 28px;
    line-height: 1, 4;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 46px;
    line-height: 1, 4;
    letter-spacing: 0.04em;
  }
}

// .header__button {
//   animation-duration: 1s ;
//   animation-name: shake-lr;
//   animation-delay: 2s;
//   animation-iteration-count: infinite;
// }

// .header__button:hover,
// .header__button:focus {
//   animation-play-state: paused;
// }

// @-webkit-keyframes shake-lr {
//   0%,
//   100% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transform-origin: 50% 50%;
//     transform-origin: 50% 50%;
//   }
//   10% {
//     -webkit-transform: rotate(1deg);
//     transform: rotate(1deg);
//   }
//   20%,
//   40%,
//   60% {
//     -webkit-transform: rotate(-3deg);
//     transform: rotate(-3deg);
//   }
//   30%,
//   50%,
//   70% {
//     -webkit-transform: rotate(3deg);
//     transform: rotate(3deg);
//   }
//   80% {
//     -webkit-transform: rotate(-1deg);
//     transform: rotate(-1deg);
//   }
//   90% {
//     -webkit-transform: rotate(1deg);
//     transform: rotate(1deg);
//   }
// }
// @keyframes shake-lr {
//   0%,
//   100% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transform-origin: 50% 50%;
//     transform-origin: 50% 50%;
//   }
//   10% {
//     -webkit-transform: rotate(1deg);
//     transform: rotate(1deg);
//   }
//   20%,
//   40%,
//   60% {
//     -webkit-transform: rotate(-3deg);
//     transform: rotate(-3deg);
//   }
//   30%,
//   50%,
//   70% {
//     -webkit-transform: rotate(3deg);
//     transform: rotate(3deg);
//   }
//   80% {
//     -webkit-transform: rotate(-1deg);
//     transform: rotate(-1deg);
//   }
//   90% {
//     -webkit-transform: rotate(1deg);
//     transform: rotate(1deg);
//   }
// }


.header__button{
    animation: swing 6s ease-in-out infinite forwards;
}

@keyframes swing {
  0% {
    transform: rotate(6deg);
  }

  4% {
    transform: rotate(-6deg);
  }

  8% {
    transform: rotate(3deg);
  }

  12% {
    transform: rotate(-3deg);
  }

  16% {
    transform: rotate(0);
  }
}

@keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-left-to-right {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom-to-top {
  from {
    transform: translatey(150px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}
